.site-wrapper {
    display: block;

    .left-content {
        width: 100%;
        text-align: center;
    }

    .right-content {
        width: 100%;
        margin-top: 5rem;
    }

    @media screen and (min-width: 768px) {
        .left-content {
            width: 25%;
        }
    
        .right-content {
            width: 75%;
            margin-top: 1rem;
            overflow: scroll;
        }
    }
}

@media screen and (min-width: 768px) {
    .site-wrapper {
        display: flex;
    }
}